body {
	background: white;
	font-family: "Times New Roman", serif;
	padding-bottom: 8px;
	margin: 0;
    position: absolute;
    left: 15px;
    top: 15px;
    width: 100%;
    text-align:left;
}

/** {
    border: 1px solid red !important;
}*/

* {
    -weblot-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}



* {
    font-family: 'Lato', sans-serif;
}

.about {
    margin-top: 110px;
}

.top-pic {
    height: 400px;
}

#name {
    color: white;
    text-shadow: black .1em .1em .1em;
   /* -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;*/
}

.text-header {
    margin-top: 40px;
    margin-left: 20px;
    float: left;
}

.site_header {
    position: relative;
    height: 400px;
}

.cust-header {
    position: absolute;
    top: 300px;
    left: 10%;
    width: 90%;
}

.icons {
    text-align: center;
}

.bg1 {
  background-image: url(KerryPark.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100% !important;
}

.img-container {
    margin-left: 40%;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-right: 40%;
}

.imgme {
    border: 5px solid white;
}

.text {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
}

.svgico {
    display: inline-block;
}


.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
/*
Do only if max width is less than 300 px
*/
@media only screen and (max-width: 600px) {
    p {
        display: none;
    }
}
